---
# Front matter comment
---
//declare SASS: variables
$grey: #4c4c4c
$white: #fff
$font-stack: "Orbitron", sans-serif


//reset all margins and padding
h1, h2, h3, .btn, .row
    margin: 0
    padding: 0

html, body
    height: 100%

//give container a width and center horizontally
.container-calculator
    max-width: 230px
    margin-left: auto
    margin-right: auto

//style calcualtor display
#display
    height: 78px
    width: 230px
    background-color: $grey
    font-family: $font-stack
    font-weight: 200
    text-align: right
    color: $white
    font-size: 25px

//style calculator buttons
.btn
    border-radius: 0px
    height: 50px
    font-size: 20px
    font-weight: 200
    color: $white
